.menu {
    color: var(--clr-gray-600);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    row-gap: 2.5rem;
    column-gap: 1.5rem;
    width: clamp(400px, 100vw, 1250px);
    padding-inline: 2rem;
}

.item-grid {
    display: flex;
    flex-direction: column;
}

.top-div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.category-icon > svg {
    width: 24px;
    height: 24px;
}

.best-seller {
    font-size: 1rem;
    font-weight: 500;
    color: var(--clr-secondary-500);
    background: var(--clr-secondary-100);
    padding: 0.2em 0.2em;
    border-radius: 0.25rem;
}

.image-container {
    position: relative;
    margin-bottom: 0.5rem;
}

.discount-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 0.5rem;
    background: var(--clr-accent-100);
    border: 1px solid var(--clr-accent);
    position: absolute;
    top: -30px;
    right: 0;
    padding: 0.1em 0.2em;
    border-radius: 0.25rem;
}

.discount-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.discount-icon > svg {
    fill: var(--clr-accent);
}

.discount-text {
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--clr-accent);
}

.delete {
    display: none;
}

.item__photo {
    width: 100%;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgb(0 0 0 /20%);
}

.title-container {
    display: flex;
    align-items: center;
}

.title {
    font-size: 1.1rem;
    font-weight: 600;
    flex: 1;
}

.add-btn {
    display: flex;
    align-items: center;
    width: auto;
}

.price {
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--clr-gray-700);
}

.rating {
    color: var(--clr-gray-400);
}

.rating::before {
    --percent: calc(var(--rating) / 5 * 100%);
    content: "\f005 \f005 \f005 \f005 \f005";
    letter-spacing: 3px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1rem;
    background: linear-gradient(
        90deg,
        var(--clr-secondary) var(--percent),
        var(--clr-gray-300) var(--percent)
    );

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-more-details {
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--clr-gray-50);
    color: var(--clr-gray-500);
    font-weight: 300;
    border: none;
    border-radius: 0.5rem;
    padding-block: 0.1em;
    padding-left: 0.5em;
    padding-right: 1em;
    margin-top: 0.25rem;

    &::after {
        position: absolute;
        content: "\f0d8";
        display: inline-block;
        right: 2px;
        vertical-align: middle;
        transform: rotate(90deg);
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }
}

.dialog {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgb(255 255 255 / 0.9);
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    resize: both;
    overflow: auto;

    &::backdrop {
        background: rgb(0 0 0 / 0.5);
    }
}

.dialog-container {
    position: relative;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.dialog-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.dialog .image-container {
    display: flex;
    align-items: center;
}

.dialog .item__photo {
    width: 200px;
}

.dialog .description {
    font-size: 0.8rem;
    text-align: center;
    font-weight: 200;
    color: var(--clr-gray-700);
    line-height: 1.5em;
}

.dialog-body .title {
    flex-grow: 0;
    color: var(--clr-gray-600);
}

.btn-dialog-close {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    height: 2rem;
    width: 2rem;
    border: none;
    background-color: transparent;
}

.added-state-container {
    background-color: var(--clr-primary);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 0.25rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.15em 0.8em;
    border-radius: 0.5rem;
    border: 1px solid transparent;
}

.quantity-span {
    color: #fff;
    background-color: var(--clr-primary-300);
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0.25em 0.25em; */
    border-radius: 50%;
}

.child-button {
    flex: 1;
    width: 1.5rem;
    height: 1.5rem;
    background: none;
    stroke: var(--clr-primary-100);
    border: none;
    padding: 0.25rem;
    stroke-width: 4;
}

.child-button.separator {
    transform: rotate(90deg);
    background: none;
}

@media only screen and (min-width: 768px) {
    .dialog-container {
        flex-direction: row;
    }

    .dialog-body {
        width: min(calc(300px + 1vw), 500px);
        align-items: start;
        justify-content: start;
    }

    .dialog .item__photo {
        width: 300px;
    }

    .dialog .description {
        text-align: left;
    }

    .dialog-body .add-btn {
        margin-top: auto;
    }
}
