:root {
    --clr-primary: hsl(342, 90%, 49%);
    --clr-dark: hsl(152, 100%, 3%);
    --clr-secondary: hsl(15, 28%, 89%);
    --clr-light: hsl(0, 0%, 95%);
    /* --clr-primary: hsl(151, 71%, 35%); */
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Chivo", sans-serif;
}

.hero {
    height: 50vh;
    background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.1) 40%
        ),
        image-set(
            url("https://ik.imagekit.io/bishwarup307/odin-restaurant/tr:h-1079/hero2.jpg")
                1x,
            url("https://ik.imagekit.io/bishwarup307/odin-restaurant/tr:h-1400/hero2.jpg")
                2x,
            url("https://ik.imagekit.io/bishwarup307/odin-restaurant/tr:h-2000/hero2.jpg")
                3x
        );

    /* linear-gradient(90deg, hsl(342, 90%, 19%) 0%, hsl(342, 90%, 49%) 100%); */
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 3rem;
}

.logo {
    width: 200px;
}

.hero_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 50%; */
}

.hero-subtitle {
    font-size: clamp(0.9rem, 0.7rem + 3vw, 1.8rem);
    font-weight: 200;
    color: var(--clr-secondary);
    margin-top: 1rem;
    margin-bottom: 4rem;
    text-align: center;
}

.btn {
    cursor: pointer;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    text-align: center;
    font-weight: 500;
}

.btn-primary {
    composes: btn;
    background-color: var(--clr-primary);
    color: var(--clr-light);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn-primary:hover {
    border: 1px solid var(--clr-primary);
    color: var(--clr-primary);
}

.btn-primary::after {
    position: absolute;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    content: "";
    background: white;
    transform: skewX(-45deg) scale(0, 1);
    transition: transform ease 300ms;
    z-index: -1;
}

.btn-primary:hover::after {
    transform: skewX(-45deg) scale(1, 1);
}

.btn-regular {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5em 1em;
}

.btn-large {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.6em 1.25em;
}

.btn-xl {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.5em 2em;
}

/* .hero_text:last-child {
    margin-top: 8rem;
} */

@media only screen and (min-width: 768px) {
    .hero {
        height: 60vh;
        justify-content: start;
        background: linear-gradient(
                90deg,
                rgba(0, 0, 0, 0.8) 0%,
                rgba(0, 0, 0, 0.1) 60%
            ),
            image-set(
                url("https://ik.imagekit.io/bishwarup307/odin-restaurant/tr:h-1079/hero2.jpg")
                    1x,
                url("https://ik.imagekit.io/bishwarup307/odin-restaurant/tr:h-1400/hero2.jpg")
                    2x,
                url("https://ik.imagekit.io/bishwarup307/odin-restaurant/tr:h-2000/hero2.jpg")
                    3x
            );
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left 70%;
        padding-inline: 8rem;
    }

    .logo {
        width: clamp(250px, 250px + 5vw, 500px);
    }

    .hero_text {
        align-items: start;
        max-width: 50%;
    }

    .hero-subtitle {
        text-align: start;
    }

    .btn-xl {
        font-size: 1.25rem;
        font-weight: 600;
        padding: 0.6em 3em;
    }
}
